jspm_packages
bower_components
node_modules
/.idea
/build
/_artifact
/typings
/test
/src

.editorconfig
gulpfile.js
jsconfig.json
karma.conf.js
karma-test-shim.js
tsconfig.json
tslint.json
typings.json
obg-link.ps1